 @import url('https://fonts.googleapis.com/css?family=Lato');
:root {
  --dark-grey-two: #212125;
  --black-4 : #c2c2cc;
  --teal : #00a096;
  --black-2 : #757585;
  --dark-grey-two : #212125;
  --medium-green-two : #3ab549;
  --black-3 : #aaa7b5;
  --ice-blue : #f2faf9;
  --black-5 : #ededf0;
  --purple-hover: #9c8bfc;

}
